html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    
}




.navbar {
background-color: white;
border-bottom: 1px solid #CCB671;
display: flex;
width: 100%;

}
.logo-text {
 color: black;
 font-size: 24px;
 display: inline-block;
}

.navbar-brand {
    font-size: 32px;
    display: inline;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    white-space: normal;
    font-family: 'Raleway', sans-serif;
    
    
    
    

    /* outline: 1px solid red */
}

.nav-link {
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    margin-right: 6px;
    
  
    
}

.nav-container {
    display: inline-block;
    
}

.hero-image {
    background-image: url(../images/gem-pink-precious-1468309.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 450px;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3px;


}

.hero-image h1 {
    /* font-family: 'Playfair Display', serif; */
    color: white;
    font-size: 36px;
    text-align: end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;

}

.center-center {
    display: flex;
    justify-content: center;
    align-items: initial;

}

.headshot{
    
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    margin: 20px;
    /* height: 150px; */
    /* object-fit: scale-down;  */

}
/* how to center an image and control size !!! */
.my-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}
.bio {
    margin: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

h2 {
    text-align: center;
    color: lightseagreen;
    font-size: 32px;
}

.h2-padding {
    padding-top: 120px;
    padding-bottom: 80px;
}

.contact-links {
    background-color: darkslategrey;
    padding:  8px 12px;
    display: flex;
    justify-content: center;
}

.contact-links .fab,
.contact-links .fas {
    color: white;
    font-size: 36px;
    
    
}

.contact-links a {
    margin: 0 28px;
}

.contact-links a:hover .fab,
.contact-links a:hover .fas,
.contact-links a:active .fab,
.contact-links a:active .fas  {
    color: lightblue;
    animation-name: zoom;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@media screen and (min-width: 500px) {
    .navbar-brand {
        display: flex;
        justify-content: space-between;  
        align-items: center;
        
    }
    
    
}