html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}




.navbar {
background-color: white;
border-bottom: 1px solid #CCB671;
display: flex;

}
.logo-text {
 color: black;
 font-size: 24px;
 display: inline-block;
}

.navbar-brand {
    font-size: 32px;
    display: inline;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
    
    
    

    /* outline: 1px solid red */
}

.nav-link {
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    margin-right: 8px;
    
}

.nav-container {
    display: inline-block;
    
}

.hero-image {
    background-image: url(../images/gem-pink-precious-1468309.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    min-height: 1000px;
    min-width: 100%;


}

.hero-image h1 {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 36px;
    text-align: end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.center-center {
    display: flex;
    justify-content: center;
    align-items: initial;

}

.headshot{
    border-radius: 50%;
    width: 50%;
    /* height: 50%;
    object-fit: scale-down; */

}
/* how to center an image !!! */
.my-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}


@media screen and (min-width: 700px) {
    .navbar-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}